{% extends "plantilla.html" %}
{% block contenido %}
{% load static %}

<br><br>

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-8">
        <!-- Aquí se muestran los artículos -->
        {% for art in articulos %}
       
          <div class="card mb-3 shadow-sm">
                <div class="card-body">
                  <div class="row">  
                    <div class="col-md-10">
                  <h5 class="card-title">{{ art.titulo_art }}</h5>
                    <p class="card-text">{{ art.contenido_art }}</p>
                    <p class="text-muted small">
                        Publicado por <strong>{{ art.autor_art.username }}</strong> 
                        el {{ art.creacion_art|date:"d M Y" }}
                    </p>
                    </div>
                    <div class="col-md-2">
              
                      <a href="" class="btn btn-warning btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                      </svg></a>
                       <a href="javascript:void(0)" onclick="EliminarArticulo('/EliminarArticulo/{{ art.id_art }}/');" class="btn btn-danger btn-sm"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                      </svg></a>
                      
                    </div>
            
                </div>
              
            </div>
        </div>
            {% empty %}
            <p class="text-muted">No hay artículos publicados todavía.</p>
        {% endfor %}
    </div>

    <div class="col-md-1 text-end">
        <!-- Botón para crear artículo -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Crear
        </button>
    </div>
</div>

<!-- Modal para crear artículo -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Crear Post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="{% url 'crear_articulo' %}" method="post" enctype="multipart/form-data" class="my-4 bg-dark text-light p-4 rounded-3" id="crearArticulo">
           {% csrf_token %}
          <label for="titulo">Título:</label>
          <input type="text" name="titulo_art" class="form-control" required>

          <label for="contenido">Contenido:</label>
          <textarea name="contenido_art" class="form-control" required></textarea>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

